[
    {smsc_core, [
        {smsc_host, "localhost"},
        {smsc_port, 2775},
        {system_id, "test_system"},
        {password, "test_password"},
        {system_type, ""},
        {interface_version, 52},
        
        {postgres_host, "localhost"},
        {postgres_port, 5432},
        {postgres_database, "smsc_db"},
        {postgres_user, "smsc_user"},
        {postgres_password, "smsc_password"},
        
        {http_port, 8080}
    ]}
].
